@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.card {
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  height: 400px;
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
